<div id="home-component">
  <div class="table-options">
    <div class="option-box">
      <div class="form-group form-inline">
        <label>State Association</label>
        <select name="assocation" class="form-control" [(ngModel)]="assocationKey" (ngModelChange)="getData($event)">
          <option *ngFor="let option of associationOptions; index as i" [value]="option.key">
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="option-box">
      <div class="form-group form-inline">
        <label>Filter By Date</label>
        <div class="input-group">
          <input type="text" placeholder="Start - End" class="form-control date-input" #drp="bsDaterangepicker" bsDaterangepicker [bsValue]="dateRange" [bsConfig]="datePickerConfig" (bsValueChange)="filterByDate($event)">
          <div class="input-group-append">
              <button type="button" class="btn btn-secondary" [disabled]="!dateRange" (click)="filterByDate(undefined)">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="key">Key</th>
          <th scope="col" class="headline">Headline</th>
          <th scope="col" class="subheadline">SubHeadline</th>
          <th scope="col" class="time">Start Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td class="key">{{ game.key }}</td>
          <td class="headline">{{ game.headline | titlecase }}</td>
          <td class="subheadline">{{ game.subheadline }}</td>
          <td class="time">
            <div class="start-date">{{ game.startDate | date: 'MMMM d, yyyy' }}</div>
            <div class="start-time">{{ game.startDate | date: 'h:mm aa' }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
